<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>天气预报</title> 
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
 
<body class="gray-bg" style="background : #80ffff">
<div class="container">
	<div class="row">
	    <div class="col-sm-7">
	        <div class="ibox float-e-margins">	          
	            <div class="ibox-content">
	                <div class="row">
	                    <div class="col-sm-6 b-r" >
	                        <h1 class="m-t-none m-b">6℃</h1>
	                        <h2>大兴区 金苑路</h2>
                          <h3>霾</h3>
                          <br>
                          <p style="font-size:16px">&nbsp;严重污染 313 &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;未来两小时无雨</p>
                          <div style="background : #ffed97;width:260px">空气重度污染黄色预警：预报11月25日...</div>
                          <br><hr><br>
                          <div style="background : #d9ffff;font-size:18px">
                            <p style="height : 35px">今天·浮沉转多云 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size= 3>严重</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10/-1℃</p>
                            <p style="height : 35px">明天·晴转多云 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size= 3>优</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 8/-3℃</p>
                            <p style="height : 35px">周三·多云转晴 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size= 3>良</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 9/-1℃</p>
                          
	                    </div>	                   
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div> 
<script src="/static/js/jquery.min.js?v=2.1.4"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>